#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input{
  width: 50%;
  height: 33px;
  padding-left: 10px;
}
.result{
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 0%;
}
.phishing {
  color: red;
}

.safe {
  color: green;
}
.App{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 50%;
  height: auto;
  margin-left: 100px;
 
  margin-top: 50px;
}

.bounce {
  animation: bounce 1.5s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}